@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;700&display=swap');

// Breakpoints

$bp-xsmall: 320px;
$bp-small: 599px;
$bp-medium: 770px;
$bp-large: 979px;
$bp-xlarge: 1199px;

// Spacing //

$small: 5px;
$gap: 10px;
$box-spacing: 20px;
$trim: 30px;
$trim-small: 15px;
$large: 50px;
$x-large: 80px;
$big: 100px;

// Colors

$c-purple: #633BBC;
$c-white: #FFFFFF;
$c-black: #000000;

// Typography

$f-stack-sans: 'Rubik', sans-serif;

// Body Copy

$f-size-default: 20px;